@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playwrite CU';
  src: url('/Playwrite_CU/static/PlaywriteCU-Regular.ttf') format('woff2'),'sans-serif';
  font-weight: 400; /* Regular */
  font-style: normal;
}

:root{
  --primary-bg-color:#fff2e2;
  --primary-color:#e2bbf7;
  --secondary-color:#b12af9;
  --third-color:#fcefe0;
  --logo-font:'/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf'
}
